* {
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #FFF;
    margin: 0px auto;
}

.navigator {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    float: right;
    margin-right: 0px;
    margin-left: auto;
/*  justify-content: flex-end;*/
}


.navigator_list {
    margin: 30px 0px;
    margin-right: 20px;
}

.navigator_item {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin: 0px 10px;
    margin-bottom: 30px;
    text-align: center;
    float: right;
}
.navigator_text:link {
    text-decoration: none;
    color: #FFF;
}
.navigator_text:visited {
    text-decoration: none;
    color: #FFF;
}
.navigator_text:hover {
    text-decoration: none;
    color: #FFF;
}
.navigator_text:active {
    text-decoration: none;
    color: #FFF;
}


.logo {
    float: left;
    margin-left: 20px;
    color: #FFF;
    font-size: 25px;
    padding: 0px 0px;
    font-weight: 600;
}
.logo:link {
    text-decoration: none;
}
.logo:visited {
    text-decoration: none;
}
.logo:hover {
    text-decoration: none;
}
.logo:active {
    text-decoration: none;
}


.review {
    margin: auto;
    max-width: 950px;
}
.review p {
    font-size: 20px;
}
.review h {
    font-size: 30px;
}


.headphone_banner {
    width: 80%;
    height: 400px;
    object-fit: cover;
    object-position: 25% 50%;
}


.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    







